* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 48px;
  background-color: #7bdaf3;
}

.add {
  position: fixed;
  top: 16px;
  right: 16px;
  background-color: #9ec862;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.note {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
}

.note .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 20px;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
}

.main {
  padding: 20px;
}
.hidden {
  display: none;
}
